aiohappyeyeballs==2.6.1
aiohttp==3.11.18
aiosignal==1.3.2
annotated-types==0.7.0
attrs==25.3.0
av==14.4.0
blinker==1.9.0
certifi==2022.12.7
cffi==1.17.1
charset-normalizer==2.1.1
click==8.2.1
comfyui_frontend_package==1.19.9
comfyui_workflow_templates==0.1.14
docutils==0.21.2
einops==0.8.1
filelock==3.9.0
filetype==1.2.0
Flask==3.1.1/Users/grzegorzzajac/Documents/Projects/Procfile.py
frozenlist==1.6.0
fsspec==2025.3.2
huggingface-hub==0.31.2
idna==3.4
itsdangerous==2.2.0
Jinja2==3.1.2
Kivy==2.3.1
Kivy-Garden==0.1.5
kornia==0.8.1
kornia_rs==0.1.9
MarkupSafe==2.1.2
mpmath==1.2.1
multidict==6.4.3
networkx==3.0rc1
numpy==2.2.6
packaging==25.0
Pillow==9.3.0
propcache==0.3.1
protobuf==4.21.12
psutil==7.0.0
pybind11 @ file:///private/tmp/pybind11==2.11.1
pycparser==2.22
pydantic==2.11.4
pydantic_core==2.33.2
Pygments==2.19.1
PyYAML @ file:///private/tmp/pyyaml
regex==2024.11.6
requests==2.28.1
safetensors==0.5.3
scipy==1.15.3
sentencepiece==0.2.0
six==1.16.0
soundfile==0.13.1
spandrel==0.4.1
sympy==1.14.0
tokenizers==0.21.1
torch==2.7.0
torchaudio==2.7.0
torchsde==0.2.6
torchvision==0.22.0
tqdm==4.67.1
trampoline==0.1.2
transformers==4.51.3
typing-inspection==0.4.0
typing_extensions==4.13.2
urllib3==1.26.13
Werkzeug==3.1.3
xformers==0.0.23.dev635
yarl==1.20.0
